
.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 800px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 128px auto;
}